<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.chymeravr.cardboardadclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--android:label="@string/app_name"-->
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/VrActivityTheme">
        <activity
            android:name=".Image360Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:enableVrMode="@string/gvr_vr_mode_component"
            android:resizeableActivity="false">

            <!-- Intent filter that enables this app to be launched from the
                 Cardboard app and from the traditional launcher. -->
            <!--TODO : maybe we dont need this for a library activity-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="com.google.intent.category.CARDBOARD" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
